* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font-size: 2rem;
    font-weight: 500;
}

.containerTest {
    position: relative;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    width: 80rem;
}

.timer {
    text-align: center;
    margin-bottom: 6rem;
    font-size: 4rem;
}


.text_container__given {
    margin: 2rem calc(2px + 1rem);
}

.text_container__written {
    resize: none;
    outline: none;
    width: 100%;
    height: 20rem;
    font-size: 1.8rem;
    padding: 0.7rem 1rem;
    border: 2px solid rgb(188, 185, 185);
}
.text_container__written:focus {
    border-color: rgb(50, 48, 48);
}

.correct {
    color: green;
}

.wrong {
    color: red;
    text-decoration: underline;
}

.wpm {
    margin-top: 3rem;
    font-size: 3rem;
}

.carImg {
    height: 50px;
    width: 50px;
    /* margin: auto; */
}

.carDiv {
    position: absolute;
    /* left: 10px; */
    top: 85px;
    width: 100%;
}

.btn {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 10px;
    border: 2px solid rgb(57, 55, 55);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;

    margin-top: 20px;

    transition: all 0.2s;
}

.infoBtn {
    margin-top: 10px;
}
.btn:hover {
    transform: translateY(-3px);
}
.btn:active {
    transform: translateY(-2px);
}

.hidden {
    display: none;
}

.quoteInfo {
    margin: 10px;
    text-align: center;
    margin-top: 35px;
}

.userDetails {
    text-align: center;
    margin-top: 15px;
    border-top: 2px solid black;
    padding-top: 10px;
    width: 45%;
}

.userName {
    margin-bottom: 2px;
}